:root {
    --footer-height: 150px;
}
body {
    height: 100vh;
}

.main {
    height: calc(100% - var(--footer-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main .search-container {
    width: 100%;
    max-width: 584px;
    height: max-content;
}

.main .search-container .input-container {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    width: auto;
    max-width: 584px;
    height: auto;
}
.main .search-container .input-container:hover {
    background: #fff;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: transparent;
}

.main .search-container .input-container .magnify-glass-icon {
    display: flex;
    align-items: center;
    padding-right: 13px;
    padding-left: 14px;
    height: 46px;
}

.main .search-container .input-container .magnify-glass-icon .icon-container {
    margin: auto;
}
.main
    .search-container
    .input-container
    .magnify-glass-icon
    .icon-container
    .icon {
    height: 20px;
    line-height: 20px;
    width: 20px;
    margin-top: 3px;
    color: #9aa0a6;
    display: inline-block;
    fill: currentColor;
    position: relative;
}

.main .search-container .input-container .search-bar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    height: max-content;
}

.main .search-container .input-container .search-bar .search-bar-input {
    height: max-content;
    white-space: pre-line;
    overflow-y: visible;
    font-family: Roboto, Arial, sans-serif;
    line-height: 22px;
    border-bottom: 8px solid transparent;
    padding-top: 11px;
    overflow-x: hidden;
    resize: none;
    background-color: transparent;
    border: none;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    color: rgba(0, 0, 0, 0.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    -webkit-tap-highlight-color: transparent;
    font-size: 16px;
    flex: 100%;
}

.main .search-container .input-container .search-buttons {
    display: flex;
    flex: 0 0 auto;
    align-items: stretch;
    flex-direction: row;
    height: 44px;
}
.main .search-container .input-container .search-buttons a {
    flex: 1 0 auto;
    display: flex;
    cursor: pointer;
    align-items: center;
    border: 0;
    background: transparent;
    outline: none;
    padding: 0 8px;
    width: 24px;
    line-height: 44px;
}

.main .search-container .input-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .search-container .input-buttons button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.main .search-container .input-buttons button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}
.footer {
    height: var(--footer-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer-container {
    height: max-content;
    width: 100%;
    background: #f2f2f2;
    display: block;
    flex-shrink: 0;
    box-sizing: border-box;
}
.footer-link {
    color: #1f1f1f;
    display: block;
    padding: 15px;
    white-space: nowrap;
    text-decoration: none;
}
.footer-link:hover,
.footer-link:active {
    text-decoration: underline;
}

.footer-link:visted {
    text-decoration: #681da8;
}
.footer-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer-content .footer-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-content .footer-item.content1 {
    justify-content: flex-start;
    min-width: 30%;
    order: 1;
}
.footer-content .footer-item.content2 {
    order: 2;
}
.footer-content .footer-item.content2 a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-content .footer-item.content2 a img {
    margin-right: 6px;
}

.footer-content .footer-item.content3 {
    justify-content: flex-end;
    min-width: 30%;
    order: 3;
}

@media only screen and (max-width: 1200px) {
    .footer-content .footer-item {
        justify-content: space-evenly;
    }
}
@media only screen and (max-width: 1200px) {
    .footer-content .footer-item.content2 {
        order: 0;
        width: 100%;
        justify-content: center;
    }
}
